* {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    color: white;
    text-align: center;
}

h1 {
    font-size: 1.7em;
    letter-spacing: 5px;
}

body {
    background-color: black;
    margin: 30px 70px;
}

/* Setting my grid */
.gridDisplay {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    margin-top: 50px;
}

/* Computer part */
#buttonRockPlayer {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}

#buttonPaperPlayer {
    grid-column: 1;
    grid-row: 4;
    margin: auto;
}

#buttonScissorsPlayer {
    grid-column: 1;
    grid-row: 6;
    margin: auto;
}

#player {
    grid-column: 3;
    grid-row: 1;
    color:dodgerblue;
    margin: auto;
}

#playerChoiceDisplayed {
    grid-column: 3;
    grid-row: 3 / 5;
    margin: auto;
}

#playerScoreDisplayed {
    grid-column: 4;
    grid-row: 1;
    margin: auto;
}

#separation {
    grid-column: 5;
    grid-row: 1 / 7;
    background-color: grey;
    width: 10px;
    margin-left: 48%;
}

/* Computer part */
#buttonRockComputer {
    grid-column: 9;
    grid-row: 2;
    margin: auto;
}

#buttonPaperComputer {
    grid-column: 9;
    grid-row: 4;
    margin: auto;
}

#buttonScissorsComputer {
    grid-column: 9;
    grid-row: 6;
    margin: auto;
}

#computer {
    grid-column: 7;
    grid-row: 1;
    color: darkred;
    margin: auto;
}

#computerChoiceDisplayed {
    grid-column: 7;
    grid-row: 3 / 5;
    margin: auto;

}

#computerScoreDisplayed {
    grid-column: 6;
    grid-row: 1;
    margin: auto;
}

/* Autre */
.buttons {
    background-color: black;
    border: white 5px dashed;
    width: 130px;
    height: 110px;
}

.buttons img{
    max-width: 90px;
    max-height: 90px;
}

.buttons:hover {
    cursor: pointer;
    border: white 6px dashed;
    background-color:dodgerblue;
}

.buttons:disabled, .buttons:disabled:hover  {
    background-color:black;
    border: grey 5px dashed;
    opacity: 80%;
    cursor:not-allowed;
}


